*{
	box-sizing: border-box; 
	font-family: 'Ubuntu', sans-serif; /*Using font from Google Fonts*/
}

h1{
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

h2{
	font-weight: normal;
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 1000px;
}

h3{
	font-size: 1.25em;
	font-weight: medium;
	padding-top: 37px;
	padding-left: 10px;
}

h4{
	font-weight: normal;
	font-size: 1.5em;
	text-align: center;
	color: white;
	margin-bottom: 0px;
	margin-top: 0px;
}

p{
	text-align:left;
	font-size: 1.2em;
	padding-top: 5px;
	padding-bottom: 30px;
	padding-left: 10px;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background: linear-gradient(to bottom right, #9eb5cc, SlateGrey);
	padding-top: 50px;
	padding-bottom: 50px;
	max-height: height;
}

nav{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: -20px;
	max-width: 1000px;
}

a{
	font-weight: normal;
	font-size: 1.15em;
	color: white;
	text-decoration: none;
	margin-left: 100px;
}

nav a:hover{
	text-decoration: underline;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}


.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}

#blue{
	background: linear-gradient(to bottom right,  DeepSkyBlue, DodgerBlue);
}

#orange{
	background: linear-gradient(to bottom right,  Orange, DarkOrange);
}

#green{
	background: linear-gradient(to bottom right,  YellowGreen, OliveDrab);
}

#greyBack{
	background: rgb(242, 242, 242);
}


